.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero-img{
    margin-top: 150px;
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

.hero h1{
    text-align: center;
    width: 70%;
    font-size: 90px;
    font-weight: 600;
}

.hero h1 span{
    background: linear-gradient(90deg, rgba(53,131,218,1) 31%, rgba(0,255,141,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p{
   width: 50%;
   text-align: center;
   font-size: 24px;
   line-height: 40px;
}

.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect{
    padding: 24px 45px;
    border-radius: 50px;
    background: linear-gradient(90deg, rgba(53,131,218,1) 31%, rgba(0,255,141,1) 100%);
    cursor: pointer;
}

.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid white;
}

.hero-connect:hover{
    border: 2px solid white;
}

.hero-resume:hover{
    border-color: rgba(0,255,141,1);
}